/* Add Downloaded font to page */
@font-face {
    font-family: retro;
    src: url(assets/lunchds.ttf);
  }
/* Set font to everything */
* {
    font-family: retro;
}

body {
    font-size: 16px;

    display: flex;
    justify-content: space-between;

    margin: 0;
}

/* Resize image to fit the screen -- no scroll */
.left-sidebar {
    height: 100%;
}

.left-sidebar > img {
    max-height: 100vh;
    max-width: 100%;
}

.main {
    margin-left: 20px;
    margin-right: 20px;
    /* TEMP Width */
    width: 50%;
    height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: 50px;
}

form {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input {
    appearance: none;
    width: 10rem;
}

.btn {
    /* To palce button below other elements */
    display: block;
    width: 100%;
}