/* Add Downloaded font to page */
@font-face {
    font-family: retro;
    src: url(assets/lunchds.ttf);
  }
/* Set font to everything */
* {
    font-family: retro;

    /* Declaring Custom Color Variables */
    --darkPurp: #110125;
    --purp: #39025F;
    --lightPurp: #D714C8;
    --blue: #0624AA;
}

body {
    font-size: 16px;

    display: flex;
    justify-content: space-between;

    margin: 0;
    
    background: linear-gradient(to bottom right, var(--darkPurp) 50%, var(--purp));
    color: var(--lightPurp);
}

/* Resize image to fit the screen -- no scroll */
.left-sidebar {
    height: 100vh;
    width: 40%;
}

.left-sidebar > img {
    max-height: 100vh;
    max-width: 100%;
}

.main {
    margin-left: 20px;
    margin-right: 20px;
    /* TEMP Width */
    width: 50%;
    height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: max(70%, 464px);
    height: max(530px, 50%);

    border: 2px solid var(--lightPurp);
    border-radius: 5px;
}

header {
    margin-bottom: 50px;
}

form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

legend {
    width: 100%;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input {
    appearance: none;
    width: 10rem;
    height: 1.2rem;
    text-align: center;

    background-color: var(--darkPurp);
    border: 3px solid var(--purp);
    border-radius: 5px;
    color: var(--lightPurp);
}

input:focus, input:hover {
    background-color: var(--lightPurp);
    color: var(--darkPurp);
}

/* Pwd wasnt working with Custom Font -- Had to change */
input[type=password] {
    font-family: sans-serif;
}

.btn {
    /* To palce button below other elements */
    display: block;
    width: 100%;
}

/* Submit Button */
.btn > button {
    text-align: center;
    height: 2rem;
    width: 10rem;

    background-color: var(--darkPurp);
    border: 3px solid var(--purp);
    border-radius: 5px;
    color: var(--lightPurp);
}

.btn > button:hover, .btn > button:focus {
    background-color: var(--lightPurp);
    color: var(--darkPurp);
}

a {
    color: var(--lightPurp);
}

a:hover {
    color: var(--darkPurp);
    background-color: var(--lightPurp);
}